<html>
	<html>
		<body>
		
			<h1>Add an Airplane</h1>
		
			<head>Airplanes owned by your Airline</head>
			<table>
				<style>
					table, th, td {
					  border: 1px solid black;
					  border-collapse: collapse;
					}
					</style>
				<th>Aiplane ID</th>
				<th>Seat Capacity</th>
			
			{% for line in airplanes %}
				<tr>
					<td>{{line['ID']}}</td>
					<td>{{line['seats']}}</td>
				</tr>
			{% endfor %}
			</table>
		
			<br></br>

<form action="/createAirplane" method="POST">
	<h1>Create a New Flight</h1>
	<label>Airplane ID: <input type="number" name = "ID" required/> </label> </br>
	<label>Seat Capacity: <input type="number" name = "seats" required/> </label> </br>
	<input type="submit" value = "Add Airplane" />

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/staffHome">Return to Home</a>
</body>
</html>
