<html>
<body>
<form action="/searchFlight" method="POST">
	<h1>Seach for Flights</h1>
	<label>Source City or Airport: <input type="text" name = "source" required/> </label> </br>
	<label>Destination City or Airport: <input type="text" name = "destination" required/> </label> </br>
	<label>Departure Date: <input type="date" name = "depart_date" required/> </label> </br>
	<label>Return Date (only required for round trip): <input type="date" name = "return_date"/> </label> </br>

	<input type="submit" value = Search />
	<a href="/">Go back</a>

	{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

</br>

{% if one_way %}
<head> Departing Flights </head>
<table>
	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
	<th>Airline Name</th>
	&emsp;
	<th>Flight Number</th>
	&emsp;
	<th>Source Airport</th>
	&emsp;
	<th>Destination Airport</th>
	&emsp;
	<th>Departure Date and Time</th>
	&emsp;
	<th>Landing Date and Time</th>
	&emsp;
	<th>Base Price</th>
	&emsp;
	<th>Airplane ID</th>
	&emsp;
	<th>Status</th>

{% for line in one_way %}
	<tr>
		<td>{{line['name']}}</td>
		&emsp;
		<td>{{line['flight_number']}}</td>
		&emsp;
		<td>{{line['dep_airport']}}</td>
		&emsp;
		<td>{{line['arr_airport']}}</td>
		&emsp;
		<td>{{line['dep_date_time']}}</td>
		&emsp;
		<td>{{line['arr_date_time']}}</td>
		&emsp;
		<td>{{line['base_price']}}</td>
		&emsp;
		<td>{{line['ID']}}</td>
		&emsp;
		<td>{{line['status']}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

</br>

{% if round_trip %}
<head> Returning Flights </head>
<table>
	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
	<th>Airline Name</th>
	&emsp;
	<th>Flight Number</th>
	&emsp;
	<th>Source Airport</th>
	&emsp;
	<th>Destination Airport</th>
	&emsp;
	<th>Departure Date and Time</th>
	&emsp;
	<th>Landing Date and Time</th>
	&emsp;
	<th>Base Price</th>
	&emsp;
	<th>Airplane ID</th>
	&emsp;
	<th>Status</th>

{% for line in round_trip %}
	<tr>
		<td>{{line['name']}}</td>
		&emsp;
		<td>{{line['flight_number']}}</td>
		&emsp;
		<td>{{line['dep_airport']}}</td>
		&emsp;
		<td>{{line['arr_airport']}}</td>
		&emsp;
		<td>{{line['dep_date_time']}}</td>
		&emsp;
		<td>{{line['arr_date_time']}}</td>
		&emsp;
		<td>{{line['base_price']}}</td>
		&emsp;
		<td>{{line['ID']}}</td>
		&emsp;
		<td>{{line['status']}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

</html>
