<html>
<body>
<form action="/searchMyFlights" method="POST">
	<h1>View My Flights</h1>
	<head>Search My Flights by Date Range, Destination, or Source
	</head>
	<br>
	<label>Date Range Start: <input type="date" name = "start_date"/> </label> </br>
	<label>Date Range End: <input type="date" name = "end_date"/> </label> </br>
	<label>Source Airport or City: <input type="text" name = "source"/> </label> </br>
	<label>Destination Airport or City: <input type="text" name = "destination"/> </label> </br>
	<input type="submit" value = Search />
	<a href="/customerHome">Return to Home</a>
	{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}	
</form>

</br>

{% if search_flights %}
<head>Searched Flights</head>
<table>
	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
	<th>Airline Name</th>
	<th>Flight Number</th>
	<th>Source Airport</th>
	<th>Destination Airport</th>
	<th>Departure Date and Time</th>
	<th>Landing Date and Time</th>
	<th>Status</th>
	<th>Price</th>
	<th>Ticket ID</th>
	<th>Purchase Date and Time</th>

{% for line in search_flights %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['dep_airport']}}</td>
		<td>{{line['arr_airport']}}</td>
		<td>{{line['dep_date_time']}}</td>
		<td>{{line['arr_date_time']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['sold_price']}}</td>
		<td>{{line['ID']}}</td>
		<td>{{line['purchase_date_time']}}</td>

	</tr>
{% endfor %}
</table>
<br>
{% endif %}

<br>

<head>Future Flights</head>
<table>
	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
	<th>Airline Name</th>
	<th>Flight Number</th>
	<th>Source Airport</th>
	<th>Destination Airport</th>
	<th>Departure Date and Time</th>
	<th>Landing Date and Time</th>
	<th>Status</th>
	<th>Price</th>
	<th>Ticket ID</th>
	<th>Purchase Date and Time</th>

{% for line in future_flights %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['dep_airport']}}</td>
		<td>{{line['arr_airport']}}</td>
		<td>{{line['dep_date_time']}}</td>
		<td>{{line['arr_date_time']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['sold_price']}}</td>
		<td>{{line['ID']}}</td>
		<td>{{line['purchase_date_time']}}</td>
	</tr>
{% endfor %}
</table>

<br>

<head>Past Flights</head>
<table>
	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
	<th>Airline Name</th>
	<th>Flight Number</th>
	<th>Source Airport</th>
	<th>Destination Airport</th>
	<th>Departure Date and Time</th>
	<th>Landing Date and Time</th>
	<th>Status</th>
	<th>Price</th>
	<th>Ticket ID</th>
	<th>Purchase Date and Time</th>

{% for line in past_flights %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['dep_airport']}}</td>
		<td>{{line['arr_airport']}}</td>
		<td>{{line['dep_date_time']}}</td>
		<td>{{line['arr_date_time']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['sold_price']}}</td>
		<td>{{line['ID']}}</td>
		<td>{{line['purchase_date_time']}}</td>
	</tr>
{% endfor %}
</table>

</html>
