<html>
	<html>
		<body>
			{% if message %}
			<p class="message"><strong></strong> {{message}}</p>
			{% endif %}

			<h1>Add a Phone Number</h1>
		
			{% if phones %}
			<head>Existing Phone Numbers</head>
			<table>
			
			{% for line in phones %}
				<tr>
					<td>{{line['phone_number']}}</td>
				</tr>
			{% endfor %}
			</table>
		
			<br></br>
			{% endif %}


<form action="/addNumber" method="POST">
	<label>Phone Number: <input type="number" name = "phone_number" /> </label> </br>
	<input type="submit" value = "Add Phone Number" />

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/staffHome">Return to Home</a>
</body>
</html>
