<html>
	<html>
		<body>
		
			<h1>Create New Flights</h1>
		
			<head>Flights in next 30 days</head>
			<table>
				<style>
					table, th, td {
					  border: 1px solid black;
					  border-collapse: collapse;
					}
					</style>
				<th>Airline Name</th>
				<th>Flight Number</th>
				<th>Source Airport</th>
				<th>Destination Airport</th>
				<th>Departure Date and Time</th>
				<th>Landing Date and Time</th>
				<th>Base Price</th>
				<th>Aiplane ID</th>
				<th>Status</th>
			
			{% for line in next30 %}
				<tr>
					<td>{{line['name']}}</td>
					<td>{{line['flight_number']}}</td>
					<td>{{line['dep_airport']}}</td>
					<td>{{line['arr_airport']}}</td>
					<td>{{line['dep_date_time']}}</td>
					<td>{{line['arr_date_time']}}</td>
					<td>{{line['base_price']}}</td>
					<td>{{line['ID']}}</td>
					<td>{{line['status']}}</td>
				</tr>
			{% endfor %}
			</table>
		
			<br></br>

<form action="/createStaffFlight" method="POST">
	<h1>Create a New Flight</h1>
	<label>Flight Number: <input type="number" name = "flight_number" required/> </label> </br>
	<label>Source Airport: <input type="text" name = "source" required/> </label> </br>
	<label>Destination Airport: <input type="text" name = "destination" required/> </label> </br>
	<label>Departing Date: <input type="date" name = "dep_date" required/> </label> </br>
	<label>Departing Time: <input type="time" name = "dep_time" required/> </label> </br>
	<label>Arrival Date: <input type="date" name = "arr_date" required/> </label> </br>
	<label>Arrival Time: <input type="time" name = "arr_time" required/> </label> </br>
	<label>Base Price: <input type="number" name = "base_price" required/> </label> </br>
	<label>Airplane ID: <input type="number" name = "ID" required/> </label> </br>
	<label>Status: <input type="text" name = "status" required/> </label> </br>
	<input type="submit" value = "Create Flight" />

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/staffHome">Return to Home</a>
</body>
</html>
