<html>
	<html>
		<body>
	
			<h1>View Frequent Customers</h1>
		
			<head>Most Frequent Customers in the last year</head>
			<br></br>
			<table>
				<style>
					table, th, td {
					  border: 1px solid black;
					  border-collapse: collapse;
					}
					</style>
				<th>Email</th>
				<th>Tickets Purchase</th>
			
			{% for line in counts %}
				<tr>
					<td>{{line['email']}}</td>
					<td>{{line['count']}}</td>
				</tr>
			{% endfor %}
			</table>
		
			<br></br>

<form action="/viewCustomers" method="POST">
	<head>View Flights that a Customer has taken</head>
	<br></br>
	<label>Customer Email: <input type="text" name = "email" required/> </label> </br>
	<input type="submit" value = "View Flights" />

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/staffHome">Return to Home</a>

<br></br>

{% if flights %}
<head>Flights taken by {{email}}</head>
	<table>
		<style>
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
			</style>
		<th>Flight Number</th>
		<th>Source Airport</th>
		<th>Destination Airport</th>
		<th>Deporting Date and Time</th>
		<th>Arrival Date and Time</th>
		<th>Airplane ID</th>
		<th>Ticket ID</th>
		<th>Sold Price</th>
		<th>Purchase Date and Time</th>
	
	{% for line in flights %}
		<tr>
			<td>{{line['flight_number']}}</td>
			<td>{{line['dep_airport']}}</td>
			<td>{{line['arr_airport']}}</td>
			<td>{{line['dep_date_time']}}</td>
			<td>{{line['arr_date_time']}}</td>
			<td>{{line['ID']}}</td>
			<td>{{line['Ticket.ID']}}</td>
			<td>{{line['sold_price']}}</td>
			<td>{{line['purchase_date_time']}}</td>
		</tr>
	{% endfor %}
	</table>

{% endif %}
</body>
</html>
